.button {
	background-color: #ff6600;
	border: none;
	color: aliceblue;
	height: 100%;
	border-radius: 50px;
	font-size: 20px;
	cursor: pointer;
	&.large {
		width: 100%;
		height: 100%;
	}
	&.middle {
		width: 100%;
		height: 100%;
		font-size: 16px;
	}
	&.small {
		width: 30%;
		height: 100%;
		font-size: 16px;
	}
	&.extremely-small {
		width: 10%;
		height: 100%;
		font-size: 16px;
	}
	&.white-exsmall {
		background-color: #ffffff;
		border: 1px solid #ff6600;
		color: #ff6600;
		font-size: 16px;
		height: 100%;
		width: 100%;
	}
}

:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
