.button {
    background-color: #ff6600;
    border: none;
    color: aliceblue;
    height: 46px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    &.large {
      width: 100%;
    }
    &.middle {
      width: 100%;
      height: 40px;
      font-size:16px;
    }
    &.small {
      width: 30%;
      height: 40px;
      font-size:16px;
    }
    &.extremely-small {
      width:10%;
      height: 40px;
      font-size:16px;
    }
    &.white-exsmall {
      background-color: #FFFFFF;
      border: 1px solid #ff6600;
      color: #ff6600;
      font-size: 16px;
      height: 40px;
      width: 100%;
    }
  }

 