.settingHeaderBorder{
  border-bottom: 1px solid #E6ECF0;
}

.settingContainer {
  width: 100%;
  border-bottom: 1px solid #E6ECF0;
}

.settingTitle {
  color: #000000;
  padding: 24px;
  text-align: left;
}

.settingInputGroup {
  padding: 16px 24px ;
}

.settingButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 32px 24px;
}

@media screen and (min-width: 991px) {
  .settingContainer {
    max-width: 960px;
    border: none;
    border-left: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
  }
  .rightContainer{
    width: 427px;
  }

  .settingFooter {
    display: none;
  }
  .settingWrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .settingContainer {
    max-width: 1140px;
  }
}