.settingWrapper {
	overflow-y: hidden;
}

.rightContainer {
	display: none;
}
.settingHeaderBorder {
	border-bottom: 1px solid #e6ecf0;
}

.settingContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settingTitle {
	color: #000000;
	padding: 24px;
	text-align: left;
}

.settingInputGroup {
	padding: 16px 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.settingButtonGroup {
	width: 100%;
	padding: 16px 24px;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 22px;
	.settingButton {
		width: 88px;
		height: 46px;
	}
	.loginout {
		padding: 0 16px;
		color: #0062ff;
	}
}

@media screen and (min-width: 991px) {
	.settingContainer {
		border: none;
	}

	.settingFooter {
		display: none;
	}
	.settingWrapper {
		display: flex;
		flex-direction: row-reverse;
	}
	.settingLoginout {
		display: none;
	}
}

@media screen and (min-width: 1200px) {

}
