.tweetsHeader {
  height: 75px;
  border-bottom: 1px solid #E6ECF0; 
}
.tweetsNavbar {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 12px 24px 13px;
  gap: 16px;
}

.navIcon {
  cursor: pointer;
}

.navTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}