.replyTweetsList {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-bottom: 1px solid #e6ecf0;
}

.replyTweetsInfo {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 8px;
	padding: 16px 24px 9px 24px;
}

.replyTweetsSecInfo {
	width: 100%;
	display: flex;
	gap: 8px;
}

.replyTweetsNameGroup {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.replyTweetsSmallAccount {
	display: flex;
	flex-direction: row;
	color: #6c757d;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	gap: 1px;
}

.replyTweetsName {
	font-weight: 700;
	font-size: 16px;
}

.replyTweetsContent {
	display: flex;
	gap: 8px;
}

.replyTweetsImg {
	border-radius: 50%;
}

.replyTweetsCreateGroup {
	display: flex;
	color: #6c757d;
	border-bottom: 1px solid #e6ecf0;
	padding: 16px 0px;

	.replyTweetsTimeItem {
		display: flex;
	}
}

.replyTweetsQuantityGroup {
	display: flex;
	gap: 24px;
	font-size: 19px;
	padding: 16px 24px 16px 24px;
	border-bottom: 1px solid #e6ecf0;

	.replyTweetsQuantity {
		display: flex;
		gap: 5px;
		.replyQuantity {
			font-weight: 700;
			line-height: 25px;
		}
	}
	.replyTweetsLikeQuantity {
		display: flex;
		gap: 5px;
		.replyLikeQuantity {
			font-weight: 700;
			line-height: 25px;
		}
	}
}

.replyQuantityText {
	color: #6c757d;
}

.replyTweetsIconGroup {
	display: flex;
	gap: 40px;
	padding: 20px 24px;

	.replyTweetsIcon,
	.replyTweetsLikeIcon {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
}

//tweetListForm
.replyTweetsForm {
	border-bottom: 1px solid #e6ecf0;

	.replyTweetsContentGroup {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 16px 24px;

		.replyTweetsInputGroup {
			width: 100%;
			display: flex;
			gap: 8px;

			.replyTweetsInputItem {
				display: flex;
				align-items: center;
				color: #6c757d;
				width: 100%;
			}
		}
		.replyTweetsButtonGroup {
			display: flex;
			align-items: center;

			.replyTweetsButtonItem {
				width: 64px;
				height: 40px;
			}
		}
	}
}

.replyTweetsLogo {
	width: 50px;
	height: 50px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.replyTweetsImg {
	display: block;
	position: relative;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.replyTweetsAvatarItem {
	width: 50px;
	height: 50px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	.replyTweetsAvatar {
		display: block;
		position: relative;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
}

.replyTweetTextArea {
	resize: none;
	border: none;
	box-shadow: none;
	outline: none;
	font-size: 18px;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-top: 10px;
}

@media screen and (min-width: 992px) {
	.replyTweetsForm {
		display: none;
	}
	.replyTweetsQuantityGroup {
		padding: 16px 0;
	}
	.replyTweetsIconGroup {
		padding: 16px 0;
		gap: 110px;
	}
}
