.adminTweetsCardListWrapper {
	height: 100vh;
}

.adminTweetsCardListHeader {
	border-bottom: 1px solid #e6ecf0;
	width: 100%;
	height: 51px;
	display: flex;
	align-items: center;
	padding: 24px 20px;
	font-size: 24px;
	font-weight: 700;
}

.adminTweetsCardListContainer {
	border-left: 1px solid #e6ecf0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.adminTweetsCardListItem {
	height: 100%;
	overflow-y: scroll;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

@media screen and (max-width: 1200px) {
	.adminTweetsCardListItem {
		justify-content: flex-start;
		gap: unset;
	}
}

@media screen and (max-width: 992px) {
	.adminTweetsCardListItem {
		justify-content: center;
		gap: 2vw;
	}
}
