.adminTweetsCardContainer {
	background-color: #f6f7f8;
	border-radius: 10px;
	margin: 8px;
	display: flex;
	height: 314px;
	width: 210px;
}

.adminTweetsCardWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
}

.adminTweetsCardImg {
	height: 140px;
	width: 210px;
	border-radius: 10px 10px 0px 0px;
}

.adminTweetsCardAvatar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -90%);
}

.adminTweetsCardImgAvatar {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 4px solid #ffffff;
}

.adminTweetsCardInfo {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	gap: 19px;
}

.adminTweetsCardSecInfo {
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.adminTweetsCardFollowGroup {
	display: flex;
	color: #6c757d;
	font-weight: 400;
	font-size: 14px;
	gap: 10px;
}

.adminTweetsCardName {
	font-weight: 700;
	font-size: 16px;
}

.adminTweetsCardAccount {
	color: #6c757d;
	font-weight: 400;
	font-size: 14px;
}

.adminTweetsCardIconGroup {
	display: flex;
	font-weight: 500;
	font-size: 16px;
	justify-content: center;
	gap: 15px;
}

.adminTweetsCardTweet,
.adminTweetsCardLike {
	display: flex;
	align-items: center;
	gap: 6px;
}

.follower,
.following {
	color: black;
}

.adminTweetsCardFollowing,
.adminTweetsCardFollower {
	display: flex;
}
