.adminTweetsContainer {
	border-bottom: 1px solid #e6ecf0;
	padding: 16px 0 16px 23px;
	overflow-x: hidden;
}

.adminTweetsList {
	display: flex;
}

.adminTweetsInfo {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.adminTweetsSecInfo {
	display: flex;
	justify-content: space-between;
}

.adminTweetsNameGroup {
	display: flex;
	flex-direction: row;
	margin: 0 8px 8px 8px;
	gap: 7px;
}

.adminTweetsSmallAccount {
	display: flex;
	flex-direction: row;
	color: #6c757d;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	gap: 1px;
}

.adminTweetsX {
	margin-right: 5px;
	cursor: pointer;
}

.adminTweetsName {
	font-weight: 700;
	font-size: 16px;
}

.adminTweetsContent {
	min-width: 100%;
	display: flex;
	margin: 0 8px 8px 8px;
}

.adminTweetsLogo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.adminTweetsImg {
	height: 100%;
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
