.layoutMainContainer {
	// height: 100vh;
	height: 100%;
	width: 100%;
}

.layoutPopularContainer {
	display: none;
}

.modalPostTweet {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #fff;
	z-index: 3;
}

.layoutModalContainer {
	display: none;
}

@media screen and (min-width: 992px) {
	.layoutContainer {
		display: flex;
		height: 100vh;
	}

	.layoutSidebarContainer {
		padding-left: 23px;
	}

	.layoutPopularContainer {
		margin: 16px 0;
		display: block;
	}
	.layoutMainContainer {
		flex: 1;
		margin: 0 25px;
		border: 1px solid #e6ecf0;
	}
	.modalPostTweet {
		height: 300px;
		width: 634px;
		border-radius: 14px;
		top: 56px;
		left: 50%;
		transform: translateX(-50%);
	}
	.modalBackground {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: #787878;
		opacity: 0.7;
	}
}

@media screen and (min-width: 1200px) {
	.layoutSidebarContainer {
		margin-left: 138px;
	}
	.layoutPopularContainer {
		margin-right: 138px;
	}
}
