.userInfoNavbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
	margin: 12px 24px 13px;
}

.userInfoNavName {
	font-weight: 700;
	font-size: 18px;
}

.userInfoTweet {
	color: #6c757d;
	font-weight: 500;
	font-size: 13px;
}
