.userInfoNavbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
	margin: 12px 24px 13px;
}

.userInfoNavName {
	font-weight: 700;
	font-size: 18px;
}

.userInfoTweet {
	color: #6c757d;
	font-weight: 500;
	font-size: 13px;
}

.userInfoImgGroup {
	position: relative;
}

.userInfoBackground {
	width: 100%;
	height: 124px;
}

.userInfoCardImg {
	width: 100%;
	height: 100%;
}

.userInfoCardAvatar {
	position: absolute;
	top: 65%;
	left: 15px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}

.userInfoImgAvatar {
	position: relative;
	height: 100px;
	left: 50%;
	transform: translateX(-50%);
}

.userInfoButton {
	width: 112px;
	height: 32px;
	margin-top: 16px;
}

.userInfoAllContent {
	display: flex;
	justify-content: end;
	flex-direction: column;
	margin: 0px 24px;
}

.userInfoBottonArea {
	display: flex;
	justify-content: end;
}

.userInfoBottomArea {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.userInfoNameGroup {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.userInfoName {
	font-weight: 700;
	font-size: 18px;
}

.userInfoAccount {
	color: #6c757d;
	font-weight: 400;
	font-size: 14px;
}

.adminTweetsCardFollowGroup {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.adminTweetsCardFollowing,
.adminTweetsCardFollower {
	display: flex;
	flex-direction: row;
	color: #6c757d;
}

.follower,
.following {
	color: black;
}

@media screen and (min-width: 991px) {
	.userInfoBackground {
		height: 200px;
	}

	.userInfoCardAvatar {
		position: absolute;
		top: 60%;
		left: 16px;
		width: 140px;
		height: 140px;
		border: 4px solid #ffffff;
	}

	.userInfoImgAvatar {
		height: 100%;
	}

	.userInfoButton {
		width: 128px;
		height: 40px;
	}

	.userInfoAllContent {
		display: flex;
		justify-content: end;
		flex-direction: column;
		margin: 0px 16px;
	}

	.userInfoBottomArea {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-top: 8px;
	}
}
