@use '../../../styles/variable.module' as var;

.userFollowerContainer {
  height: calc(100% - var.$sidebar-height);
  display: flex;
  flex-direction: column;
}

.userFollowerContent {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

@media screen and (min-width:992px) {
  .userFollowerContainer {
    height: 100%;
  }
  .userInfoHeaderContainer {
    border-bottom: 1px solid #E6ECF0;
  }
  .userInfoContainer {
    display: none;
  }
}