.userFollowContainer {
	border-bottom: 1px solid #e6ecf0;
	padding: 16px 23px;
	flex: 1;
}

.userFollowList {
	display: flex;
	gap: 8px;
}

.userFollowInfo {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 8px;
}

.userFollowSecInfo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.userFollowNameGroup {
	display: flex;
	flex-direction: row;
	gap: 7px;
}

.userFollowSmallAccount {
	display: flex;
	flex-direction: row;
	color: #6c757d;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	gap: 1px;
}

.userFollowingButton {
	width: 80px;
	height: 32px;
}

.userFollowButton {
	width: 48px;
	height: 32px;
}

.userFollowName {
	font-weight: 700;
	font-size: 16px;
}

.userFollowContent {
	display: flex;
	gap: 8px;
}

.userFollowLogo {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.userFollowImg {
	position: relative;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.userFollowQuantityGroup {
	display: flex;
	gap: 40px;
	color: #6c757d;

	.userFollowQuantity {
		display: flex;
		gap: 8px;
		align-items: center;
	}
	.userFollowLikeQuantity {
		display: flex;
		gap: 8px;
		align-items: center;
	}
}

@media screen and (min-width: 992px) {
	.userFollowAccount {
		display: none;
	}
	.userFollowingButton {
	width: 96px;
	height: 40px;
	}
	.userFollowButton {
	width: 64px;
	height: 40px;
	}
}
