.registerWrapper {
  width: 100;
}

.registerContainer {
  padding: 45px 24px;
}

.registerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerTitle {
  color: #000000;
  margin-top: 29px;
  text-align: center;
}

.registerInputGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.registerButtonGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.registerSecButtonGroup {
  text-align: center;
}

.registerCancelLink {
  color: #0062ff;
}

@media screen and (min-width: 991px) {
  .registerWrapper {
    width: 356px;

    padding: 0 24px;
    margin: 45px auto;
  }
}

@media screen and (min-width: 1200px) {
  .registerWrapper {
    max-width: 356px;
    padding: 0 24px;
    margin: 45px auto;
  }
}