.registerContainer {
  padding: 0 24px;
  margin-top: 45px;
}

.registerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerTitle {
  color: #000000;
  padding: 0 24px 0 24px;
  margin-top: 29px;
  text-align: center;
}

.registerInputGroup {
  margin: 16px 0 24px 0;
}

.registerButtonGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.registerSecButtonGroup {
  text-align: center;
}

.registerCancelLink {
  color: #0062ff;
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .registerContainer {
    max-width: 960px;
    padding: 0 24px;
    margin: 45px auto;
  }
}

@media screen and (min-width: 1200px) {
  .registerContainer {
    max-width: 1140px;
    padding: 0 24px;
    margin: 45px auto;
  }
}