.loginContainer {
  padding: 0 24px;
  margin-top: 45px;
}

.loginLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginTitle {
  color: #000000;
  padding: 0 24px 0 24px;
  margin-top: 29px;
  text-align: center;
}

.loginInputGroup {
  margin: 16px 0 24px 0;
}

.loginButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 22px 10px;
}

.loginButtonSecGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.loginRegisterButton,
.loginAdminButton {
  color: #0062ff;
}

@media screen and (min-width: 991px) {
  .loginContainer {
    width: 356px;
    padding: 0 24px;
    margin: 45px auto;
  }
}