.loginContainer {
	padding: 0 24px;
	margin-top: 45px;
}

.loginLogo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginTitle {
	color: #000000;
	padding: 0 24px 0 24px;
	margin-top: 29px;
	text-align: center;
}

.loginInputGroup {
	margin: 16px 0 24px 0;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.loginButtonGroup {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 22px 10px;
}

.loginButton {
	height: 46px;
}

.loginButtonSecGroup {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.loginRegisterButton,
.loginAdminButton {
	color: #0062ff;
}

.errorMessage {
	color: red;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 991px) {
	.loginContainer {
		width: 356px;
		padding: 0 24px;
		margin: 45px auto;
	}
}

@media screen and (min-width: 1200px) {
	.loginContainer {
		max-width: 1140px;
		padding: 0 24px;
		margin: 45px auto;
	}
}
