@use '../../styles/variable.module' as var;

.modalPostTweet {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #fff;
	z-index: 3;
}

.replyTweetContainer {
	display: none;
}

.postTweetContainer {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.postTweetContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.postTweetForm {
	height: 100%;
}

.postTweetContent {
	height: 100%;
	flex: 1;
	padding: 16px 55px 16px 24px;
}

.contentGroup {
	display: flex;
	gap: 8px;
	height: 100%;

	.postTweetInputGroup {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;
	}

	.postTweetInput {
		resize: none;
		border: none;
		box-shadow: none;
		outline: none;
		color: #6c757d;
		font-size: 18px;
		font-weight: 700;
		width: 100%;
		height: 100%;
		overflow: scroll;
		margin-top: 5px;
	}
}

.footerText {
	display: none;
	text-align: right;
	color: #fc5a5a;
	margin-bottom: 40px;
	margin-right: 24px;
}

.footerButton {
	display: none;
	width: 64px;
}

//header
.tweetsHeader {
	border-bottom: 1px solid #e6ecf0;
}
.tweetsNavbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	margin: 12px 24px 13px;
}

.navAvatarItem {
	display: none;
	.navAvatar {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
}

.mainTweetsAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.navButton {
	width: 64px;
	height: 40px;
}

.titleArrow {
	cursor: pointer;
}

.titleClose {
	display: none;
	cursor: pointer;
}

@media screen and (min-width: 992px) {
	.layoutMainContainer {
		flex: 1;
		margin: 0 25px;
		border: 1px solid #e6ecf0;
	}
	.modalPostTweet {
		height: 450px;
		width: 634px;
		border-radius: 14px;
		top: 56px;
		left: 50%;
		transform: translateX(-50%);
	}
	.modalBackground {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: #787878;
		opacity: 0.7;
	}

	.titleArrow {
		display: none;
	}
	.titleClose {
		display: block;
		color: #ff6600;
	}

	.navButton {
		display: none;
	}
	.footerButtonItem {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.footerButton {
		display: block;
		width: 66px;
		height: 38px;
		margin: 12px 24px 13px;
	}

	.footerText {
		display: block;
		color: #fc5a5a;
		margin-bottom: 0;
		margin-right: 0;
	}
}
