@use '../../styles/variable.module' as var;

.modal {
	display: none;
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 3;
}

.userInfoMdContainer {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 3;
}

.userInfoMdNavbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 57px;
}

.userInfoMdTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding-left: 24px;
}

.userInfoMdButton {
	width: 64px;
	height: 40px;
}

.userInfoMdButtonGroup {
	display: flex;
	align-items: center;
	margin: 17px 24px;
}

.userInfoMdArrow {
	cursor: pointer;
}

.userInfoClose {
	display: none;
	cursor: pointer;
}

.userInfoMdCardImg {
	width: 100%;
	height: 100%;
}

.userInfoMdBackground {
	position: relative;
	height: 124px;
	overflow: hidden;
}

.userInfoMdAvatar {
	position: absolute;
	height: 80px;
	width: 80px;
	transform: translate(24px, -50%);
	border-radius: 50%;
	background-color: #171725;
	overflow: hidden;
}

.userInfoMdImgAvatar {
	position: relative;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.5;
}

.userInfoInputArea {
	margin: 56px 24px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.userInfoMdBackground {
	background-color: #171725;
}

.userInfoMdCardImg {
	opacity: 0.5;
	width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.userInfoMdImgGroup {
	position: relative;

	.userInfoIcon {
		position: absolute;
		z-index: 99;
		width: 80px;
		height: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.userInfoSecIcon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.userInfoMdWhite {
	cursor: pointer;
}

.inputPhoto {
	display: none;
}

.userInfoNameGroup {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: end;

	.userInfoInputNameError {
		position: absolute;
		left: 0;
		color: #fc5a5a;
		font-size: 12px;
	}
}

.userInfoTextGroup {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: end;

	.userInfoInputTextError {
		position: absolute;
		left: 0;
		color: #fc5a5a;
		font-size: 12px;
	}
}
.userInfoLabel {
	display: block;
	position: relative;
	height: 54px;
	background-color: #f5f8fa;
}

.userInfoTextArea {
	height: 100%;
	position: relative;
	top: 100%;
	transform: translateY(-100%);
	resize: none;
	width: 100%;
	height: 27px;
	border: none;
	padding-top: 25px;
	padding-left: 10px;
	padding-bottom: 5px;
	background-color: #f5f8fa;
}

.userInfoTextArea:focus {
	outline: none;
}
.userInfoLabelTitle {
	position: absolute;
	font-size: 14px;
	height: 22px;
	color: #696974;
	top: 5px;
	left: 10px;
	z-index: 1;
}

@media screen and (min-width: 991px) {
	.userInfoMdArrow {
		display: none;
	}

	.userInfoClose {
		display: block;
	}

	.userInfoMdContainer {
		width: 634px;
		height: 610px;
		border-radius: 14px;
		top: 56px;
		left: 50%;
		transform: translateX(-50%);
	}

	.userInfoInputArea {
		display: flex;

		.userInfoInputContent {
			height: 147px;
		}
	}

	.userInfoInputContent,
	.userInfoInputText {
		font-weight: 500;
		font-size: 12px;
		color: #696974;
	}

	.userInfoLabel {
		position: relative;
		display: block;
		background-color: #f5f8fa;
		height: 145px;

		.userInfoLabelTitle {
			position: absolute;
			font-size: 14px;
			height: 22px;
			color: #696974;
			top: 5px;
			left: 10px;
		}

		.userInfoTextArea {
			resize: none;
			width: 100%;
			height: 125px;
			border: none;
			background-color: #f5f8fa;
			padding-top: 0;
			padding-bottom: 0;
			border-bottom: 2px solid #657786;
		}

		.userInfoTextArea:focus,
		:hover {
			border-color: #50b5ff;
		}
		.userInfoTextArea:focus {
			outline: none;
		}
	}

	.userInfoInput {
		display: none;
	}

	.userInfoMdTitle {
		font-size: 13px;
		gap: 32px;
	}
}
