@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC&display=swap');

body,
button,
textarea,
input::placeholder {
	font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a4a4a4;
  border-radius: 2px;
}
